<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @shipment_type.name %>
</p>

<%= link_to 'Edit', edit_shipment_type_path(@shipment_type) %> |
<%= link_to 'Back', shipment_types_path %>
